html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    background:linear-gradient(rgba(220, 223, 255, 0.253), #1162ac, rgb(11, 26, 46));
}
.contenedor{
    margin: 50px auto;
    padding: 30px;
    width: 400px;
    background-color: #1162ac;
    border-radius: 10px;
}
.contenedor h2{
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: rgb(217, 232, 252);
}
.contenedor .elemento label {
    color: aliceblue;
}
.contenedor .elemento input{
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.486);;
    margin-bottom: 40px;
}
.contenedor .elemento input[type="submit"]{
    background-color: rgb(11, 26, 46);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 14px;
    margin-top: 20px;
}